////////////////////////////////////////////////
// Customizes for LITERA
// https://github.com/jenil/bulmaswatch/tree/gh-pages/litera
////////////////////////////////////////////////

@if $bulmaswatch-import-font {
  @import url(https://fonts.googleapis.com/css?family=Montserrat);
}

* {
  transition: all 200ms ease;
}

.button {
  transition: all 200ms ease;

  &.is-active,
  &.is-focused,
  &:active,
  &:focus {
    box-shadow: 0 0 0 2px rgba($button-active-border-color, 0.3);
  }

  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      &.is-active,
      &.is-focused,
      &:active,
      &:focus {
        box-shadow: 0 0 0 2px rgba($color, 0.3);
      }
    }
  }
}

.card-header-title,
.menu-label,
.message-header,
.modal-card-title,
.panel-heading,
.subtitle,
.title,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

blockquote {
  font-style: italic;
}

.input,
.textarea {
  transition: all 200ms ease;
  box-shadow: none;
  font-size: $body-size;
}

.notification {
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      a:not(.button) {
        color: $color-invert;
        text-decoration: underline;
      }
    }
  }
}

.navbar {
  border: 1px solid $border;
}

.navbar-item img {
  max-height: 2.25rem;
}

.hero {
  .navbar {
    border: none;
    box-shadow: 0 1px 0 rgba($border, 0.25);
  }
}

.breadcrumb {
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .card {
    $card-border-color: $grey-darker;
    border-radius: 0.3rem;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);

    .card-header {
      box-shadow: none;
      border-bottom: 1px solid $grey-lighter;
      padding: 0.5rem;
    }

    .card-footer .card-footer-item {
      justify-content: flex-end;
      padding: 1rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .card {
    box-shadow: none;
    border-radius: none;
    border: none;

    .card-header {
      box-shadow: none;
      border-bottom: 1px solid $grey-lighter;
      padding: 0.5rem;
    }

    .card-footer .card-footer-item {
      justify-content: flex-end;
      padding: 1rem;
    }
  }
}

////////////////////////////////////////////////
// Customizes
////////////////////////////////////////////////

html,
body {
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  ._modal-card {
    max-width: 20vw;
  }
}

@media screen and (max-width: 768px) {
  ._modal-card {
    padding: 6vw;
  }
}

._profile-avatar {
  object-fit: cover;
  width: 5rem;
  height: 5rem;
  border: solid 1px #d8d8d8;
  border-radius: 50%;
}

._nav-avatar {
  object-fit: cover;
  width: 2rem;
  height: 2rem;
  border: solid 1px #d8d8d8;
  border-radius: 50%;
}

._nav-avatar--danger {
  border: solid 1px #ff3860;
}

// Image upload preview
._image-frame {
  position: relative;
  border: solid 1px #d8d8d8;

  ._image-preview {
    object-fit: cover;
    width: auto;
    height: auto;
  }

  ._image-button-delete {
    position: absolute;
    top: 2%;
    right: 2%;
  }

  ._image-size {
    display: flex;
    justify-content: center;
  }
}

////////////////////////////////////////////////
// Customizes scrollbar
////////////////////////////////////////////////

/* width */
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 0.2rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 0.2rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

////////////////////////////////////////////////
// Customizes simplemde
// https://github.com/sparksuite/simplemde-markdown-editor/blob/master/src/css/simplemde.css
////////////////////////////////////////////////

.CodeMirror-fullscreen,
.editor-toolbar.fullscreen,
.editor-preview-side {
  z-index: $navbar-z + 2;
}

.editor-preview {
  z-index: $navbar-z + 1;
}

.editor-preview-side.content:not(:last-child).markdown-body.editor-preview-active-side {
  margin-bottom: 0;
}

.CodeMirror {
  height: 35rem;
}

.CodeMirror .CodeMirror-code .cm-comment {
  background: initial;
  border-radius: initial;
  color: rgba(100, 44, 30, 0.76);
  font-weight: bold;
}

.CodeMirror .CodeMirror-selected {
  background: #bbb;
}

.CodeMirror .CodeMirror-code .cm-link {
  color: #0d87d8;
}

.CodeMirror .CodeMirror-code .cm-url {
  color: #000;
}

////////////////////////////////////////////////
// Customizes markdown-css
////////////////////////////////////////////////

.markdown-body {
  font-family: $family-primary;
  font-size: $body-size;

  pre,
  code {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier,
      monospace;
    font-size: $body-size;
  }
}

////////////////////////////////////////////////
// Customizes scoped styles
////////////////////////////////////////////////

/* layouts/error.vue */
/* components/Footer.vue */
/* components/Loading.vue */
/* components/ModalConfirm.vue */
/* components/ModalEmbed.vue */
/* components/ModalImage.vue */
/* components/ModalJoin.vue */
/* components/ModalLink.vue */
/* components/ModalLogin.vue */
/* components/ModalSignup.vue */
/* pages/about/index.vue */
/* pages/posts/_postUrl/edit-post/index.vue */
/* pages/posts/new-post/index.vue */
/* pages/query/_category/index.vue */
/* pages/search/index.vue */
/* pages/user/index.vue */
/* pages/user/activekey/index.vue */
/* pages/user/profile/index.vue */
/* pages/user/resetpassword/index.vue */

/* layouts/default.vue */
._default {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

._default__main {
  flex: 1;
}

@media screen and (min-width: 768px) {
  ._default__main {
    margin: 1rem 0 2rem 0;
  }
}

@media screen and (max-width: 768px) {
  ._default__main {
    margin: 1rem 1rem 2rem 1rem;
  }
}

/* components/CardPost.vue */
._card {
  border-radius: 4px;
  border: 1px solid #d8d8d8;
  box-shadow: none;
}

._card__image {
  position: relative;
  transition: all 2s cubic-bezier(0.215, 0.61, 0.355, 1);
  border-bottom: 1px solid #d8d8d8;

  img {
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
  }

  &:hover ._card__image__post-desc {
    opacity: 0.9;
  }
}

._card__image__post-desc {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 1.5rem;
  background-color: #eee;
  opacity: 0;
}

._card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.6rem 1.5rem;
}

/* components/CardPost4User.vue */
._media {
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 0.5rem;
}

._image-horizontal-card {
  object-fit: cover;
  width: 96px !important;
  height: 96px !important;
  border: none !important;
}

/* components/Navbar.vue */
._navbar {
  border: none;
  border-bottom: 1px solid #d8d8d8;
}

._navbar-tag {
  margin-top: $navbar-height;
  z-index: $navbar-z - 1;
  box-sizing: border-box;
  border-bottom: 1px solid #d8d8d8;
}

._navbar-search {
  display: flex;
  align-items: center;
}

._navbar-link-category {
  padding-left: 0;
}

._navbar-link-avatar {
  padding-right: 0;
}

@media screen and (min-width: 1024px) {
  ._navbar-dropdown.is-right {
    left: auto;
    right: 0.75rem;
  }
}

._navbar-dropdown__item {
  display: flex;
  align-items: center;
  padding-right: 1rem;
  p {
    margin-left: 1rem;
  }
}

/* pages/index.vue */
._section-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 1.5rem;
}

/* pages/posts/_postUrl/index.vue */
._post-title {
  text-align: left;
  line-height: 1.2;
  font-weight: 700;
  color: #1b1b1b;
  word-wrap: break-word;
  word-break: break-word;
  font-size: 2.5rem;
}

/* pages/user/join/index.vue */
._card-join {
  margin-top: 2rem;
}

._card-join__footer__item {
  justify-content: space-between;
}

/* pages/user/mgmt/index.vue */
/* ._profile-avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
