////////////////////////////////////////////////
// Customizes for LITERA
// https://github.com/jenil/bulmaswatch/tree/gh-pages/litera
////////////////////////////////////////////////

@if $bulmaswatch-import-font {
  @import url(https://fonts.googleapis.com/css?family=Montserrat);
}

* {
  transition: all 200ms ease;
}

.button {
  transition: all 200ms ease;

  &.is-active,
  &.is-focused,
  &:active,
  &:focus {
    box-shadow: 0 0 0 2px rgba($button-active-border-color, 0.3);
  }

  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      &.is-active,
      &.is-focused,
      &:active,
      &:focus {
        box-shadow: 0 0 0 2px rgba($color, 0.3);
      }
    }
  }
}

.card-header-title,
.menu-label,
.message-header,
.modal-card-title,
.panel-heading,
.subtitle,
.title,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

blockquote {
  font-style: italic;
}

.input,
.textarea {
  transition: all 200ms ease;
  box-shadow: none;
  font-size: $body-size;
}

.notification {
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      a:not(.button) {
        color: $color-invert;
        text-decoration: underline;
      }
    }
  }
}

.navbar {
  border: 1px solid $border;
}

.navbar-item img {
  max-height: 3rem;
}

.hero {
  .navbar {
    border: none;
    box-shadow: 0 1px 0 rgba($border, 0.25);
  }
}

.breadcrumb {
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .card {
    $card-border-color: $grey-darker;
    border-radius: 0.3rem;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);

    .card-header {
      box-shadow: none;
      border-bottom: 1px solid $grey-lighter;
      padding: 0.5rem;
    }

    .card-footer .card-footer-item {
      justify-content: flex-end;
      padding: 1rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .card {
    box-shadow: none;
    border-radius: none;
    border: none;

    .card-header {
      box-shadow: none;
      border-bottom: 1px solid $grey-lighter;
      padding: 0.5rem;
    }

    .card-footer .card-footer-item {
      justify-content: flex-end;
      padding: 1rem;
    }
  }
}

////////////////////////////////////////////////
// Customizes general
////////////////////////////////////////////////
body {
  background-color: #fff;
}

.modal-card-foot {
  justify-content: flex-end;
}

/* width */
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 0.2rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 0.2rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

////////////////////////////////////////////////
// Customizes simplemde
////////////////////////////////////////////////

.CodeMirror-fullscreen,
.editor-toolbar.fullscreen,
.editor-preview-side {
  z-index: $navbar-z + 2; // 32
}

.editor-preview {
  z-index: $navbar-z + 1; // 31
}

.editor-toolbar.fullscreen {
  top: $navbar-height;
  height: 3rem
}

.CodeMirror-fullscreen {
  top: $navbar-height + 3rem
}

.editor-preview-side {
  top: $navbar-height + 3rem
}

.editor-preview-side.content:not(:last-child).markdown-body.editor-preview-active-side {
  margin-bottom: 0;
}

.CodeMirror {
  height: 50vh;
}

.CodeMirror .CodeMirror-code .cm-comment {
  background: initial;
  border-radius: initial;
  color: rgba(100, 44, 30, 0.76);
  font-weight: bold;
}

.CodeMirror .CodeMirror-selected {
  background: #bbb;
}

.CodeMirror .CodeMirror-code .cm-link {
  color: #0d87d8;
}

.CodeMirror .CodeMirror-code .cm-url {
  color: #000;
}

////////////////////////////////////////////////
// Customizes markdown-css
////////////////////////////////////////////////

.markdown-body {
  font-family: $family-primary;
  font-size: $body-size;

  pre,
  code {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier,
      monospace;
    font-size: $body-size;
  }
}

////////////////////////////////////////////////
// Customizes tocbot styles
////////////////////////////////////////////////

.toc-link.is-active-link::before {
  background-color: $link;
}

////////////////////////////////////////////////
// Customizes scoped styles
////////////////////////////////////////////////

/* layouts/error.vue */
/* components/Footer.vue */
/* components/Loading.vue */
/* components/ModalConfirm.vue */
/* components/ModalEmbed.vue */
/* components/ModalJoin.vue */
/* components/ModalLink.vue */
/* components/ModalLogin.vue */
/* components/ModalSignup.vue */
/* pages/about/index.vue */
/* pages/query/_category/index.vue */
/* pages/search/index.vue */
/* pages/user/index.vue */
/* pages/user/activekey/index.vue */
/* pages/user/resetpassword/index.vue */

/* layouts/default.vue */
._default {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

._default__main {
  flex: 1;
}

@media screen and (min-width: 768px) {
  ._default__main {
    margin: 1rem 0 2rem 0;
  }
}

@media screen and (max-width: 768px) {
  ._default__main {
    margin: 1rem 1rem 2rem 1rem;
  }
}

/* components/CardPost.vue */
$creator-avatar-height: 3rem;

._card {
  box-shadow: none;
}

._card-image {
  border: solid 1px #ddd;
}

._thumbnail-image {
  object-fit: cover;
}

._card-avatar {
  position: absolute;
  left: 1rem;
  bottom: -$creator-avatar-height/2;
}

._creator-avatar {
  object-fit: cover;
  width: $creator-avatar-height;
  height: $creator-avatar-height;
  border: solid 1px #d8d8d8;
  border-radius: 50%;
}

._card-content {
  background-color: transparent;
  padding: 3rem 0;
}

/* components/CardPost4User.vue */
._media {
  align-items: center;
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 0.5rem;
}

._thumbnail-image-horizontal {
  object-fit: cover;
  width: 128px !important;
  height: 128px !important;
}

/* components/ModalImage.vue */
._image-frame {
  position: relative;
  border: solid 1px #d8d8d8;

  ._image-preview {
    object-fit: cover;
  }

  ._image-button-delete {
    position: absolute;
    top: 2%;
    right: 2%;
  }

  ._image-size {
    display: flex;
    justify-content: center;
  }
}

/* components/Editor.vue */
._disable {
  pointer-events: none;
}

/* components/Navbar.vue */
._navbar {
  border: none;
  border-bottom: 1px solid #d8d8d8;
}

._navbar-tag {
  margin-top: $navbar-height;
  z-index: $navbar-z - 2; // 28
  box-sizing: border-box;
  border-bottom: 1px solid #d8d8d8;
}

/* 
._align {
  display: flex; 
  align-items: center
}
 */

._navbar-link-category {
  padding-left: 0;
}

._navbar-link-avatar {
  padding-right: 0;
}

._navbar-dropdown.is-right {
  left: auto;
  right: 0.75rem;
}

._navbar-dropdown__item {
  display: flex;
  align-items: center;
  p {
    margin-left: 1rem;
  }
}

._navbar-item-facebook {
  padding: 0 2rem 0 2rem;
  border-left: 1px solid #d8d8d8;
}

._navbar-item-youtube {
  margin-right: 0.25rem;
}

._nav-avatar {
  object-fit: cover;
  width: 2rem;
  height: 2rem;
  border: solid 1px #d8d8d8;
  border-radius: 50%;
}

._nav-avatar--danger {
  border: solid 1px #ff3860;
}

/* pages/index.vue */
._section-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 1.5rem;
}

/* pages/posts/_postUrl/index.vue */
._profile-avatar {
  object-fit: cover;
  width: 4rem;
  height: 4rem;
  border: solid 1px #d8d8d8;
  border-radius: 50%;
}

._post-title {
  text-align: left;
  line-height: 1.2;
  font-weight: 700;
  color: #1b1b1b;
  word-wrap: break-word;
  word-break: break-word;
  font-size: 2.5rem;
}

/* pages/posts/_postUrl/edit-post/index.vue */
._fullscreen {
  background: #fff;
  position: fixed;
  padding-top: $navbar-height + 1rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  z-index: $navbar-z - 1; // 29
}

/* pages/posts/new-post/index.vue */
/* 
._fullscreen {
  background: #fff;
  position: fixed;
  padding-top: $navbar-height + 1rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  z-index: $navbar-z - 1; // 29
}
 */
 
/* pages/user/join/index.vue */
._card-join {
  margin-top: 2rem;
}

/* pages/user/mgmt/index.vue */
._align {
  display: flex;
  align-items: center;
}

/* 
._profile-avatar {
  object-fit: cover;
  width: 4rem;
  height: 4rem;
  border: solid 1px #d8d8d8;
  border-radius: 50%;
}
 */

/* pages/user/profile/index.vue */
/* 
._profile-avatar {
  object-fit: cover;
  width: 4rem;
  height: 4rem;
  border: solid 1px #d8d8d8;
  border-radius: 50%;
}
 */

/*  
._image-frame {
position: relative;
border: solid 1px #d8d8d8;

._image-preview {
  object-fit: cover;
  width: auto;
  height: auto;
}

._image-button-delete {
  position: absolute;
  top: 2%;
  right: 2%;
}

._image-size {
  display: flex;
  justify-content: center;
} 
 */
