////////////////////////////////////////////////
// LITERA
////////////////////////////////////////////////
$grey-darker:  #363636;
$grey-dark:    #373a3c;
$grey:         #55595c;
$grey-light:   #818a91;
$grey-lighter: #d9dee2;

$link: #209cee !default;

$subtitle-color: $grey;

$family-montserrat: "Montserrat", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", Arial, sans-serif; 
$family-primary: $family-montserrat;
$family-secondary: $family-montserrat;
$family-code: $family-montserrat;

$body-size: 16px !default;

$navbar-height: 4rem;
$navbar-item-hover-color: $link;
$navbar-item-hover-background-color: transparent;
$navbar-item-active-color: $link;
$navbar-item-active-background-color: transparent;

$navbar-dropdown-item-hover-color: $link;
$navbar-dropdown-item-hover-background-color: transparent;
$navbar-dropdown-item-active-color: $link;
$navbar-dropdown-item-active-background-color: transparent;

$bulmaswatch-import-font: true !default;

$box-shadow: 0 0 1px $grey-light;